body{-webkit-animation:puff-in-center .7s cubic-bezier(.47,0.000,.745,.715) both;animation:puff-in-center .7s cubic-bezier(.47,0.000,.745,.715) both}

@-webkit-keyframes puff-in-center{0%{-webkit-transform:scale(2);transform:scale(2);-webkit-filter:blur(4px);filter:blur(4px);opacity:0}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes puff-in-center{0%{-webkit-transform:scale(2);transform:scale(2);-webkit-filter:blur(4px);filter:blur(4px);opacity:0}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(0);filter:blur(0);opacity:1}}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45px 0 0 0;
    background: url(../Images/Background-Img/efe-kurnaz-RnCPiXixooY-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}
.container{
    max-width: 700px;
    width: 100%;
    padding: 25px 30px; 
}
.container .qeydiyyat{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .qeydiyyat::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: #9b59b6;
}
.container form .istifadeci{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .istifadeci .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
.istifadeci .input-box .ad{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.istifadeci .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.istifadeci .input-box input:focus,
.istifadeci .input-box input:valid{
border-color: #9b59b6;
}
form .cins .cins-1{
font-size: 20px;
font-weight: 500;
}
form .cins .kateqoriya{
display: flex;
width: 40%;
margin: 14px 0;
justify-content: space-between;
}
.kateqoriya{
    font-weight: 500;
}
.button{
    height: 45px;
    margin: 45px 0;
}

.button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(-90deg, rgba(255,0,189,1) 0%, rgba(154,0,255,1) 61%, rgba(94,0,255,1) 100%);
}
.button input:hover{
    background: linear-gradient(90deg, rgba(255,0,189,1) 0%, rgba(154,0,255,1) 61%, rgba(94,0,255,1) 100%);
}

/*--------------------------------------------------------------*/

@media (max-width: 584px){
    .container{
        max-width: 100%;
        height: 110vh;
    }    
    form .istifadeci .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    .container form .istifadeci{
        max-height: 300px;
        overflow-y: scroll;
    }
    .istifadeci::-webkit-scrollbar{
        width: 0;

    }
}

@media (max-width: 425px){
    form .cins .kateqoriya{
        width: 100%;
        }
     
}